#map {
  width:650px;
  height:450px;
}
#chart_div {
  width:600px;
  height:400px;
}
/*#legend {
  position: absolute;
  top: 3px;
  left: 780px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
  font-size: 1em;
  font-family: sans-serif;
  width: 165px;
  background: rgba(255,255,255,0.6);
}
.legendheading {
  position: relative;
  height: 25px;
  padding: 5px 2px 0px 2px;
  font-size: larger;
  font-weight: bold;
}
.legenditem {
  padding: 2px;
  margin-bottom: 2px;
}*/

/*Marker clusters*/
.marker-cluster-pie g.arc{
  fill-opacity: 0.5;
}
.marker-cluster-pie-label {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*Markers*/
.marker {
  width: 9px;
  height: 9px;
  border-width: 1px;
  border-radius:10px;
  margin-top: -10px;
  margin-left: -10px;
  border-style: solid;
  fill: #CCC;
  stroke: #444;
  background: #CCC;
  border-color: #444;
}
.marker div{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*marker categories*/
.category-hexFECC5C{
  fill: #FECC5C;
  stroke: #FECC5C;
  background: #FECC5C;
  border-color: #FECC5C;
}
.category-hexFD8D3C{
  fill: #FD8D3C;
  stroke: #FD8D3C;
  background: #FD8D3C;
  border-color: #FD8D3C;
}
.category-hexE31A1C{
  fill: #E31A1C;
  stroke: #E31A1C;
  background: #E31A1C;
  border-color: #E31A1C;
}
.category-hexFFFFB2{
  fill: #FFFFB2;
  stroke: #FFFFB2;
  background: #FFFFB2;
  border-color: #FFFFB2;
}
.category-hex2166ac{
  fill: #2166ac;
  stroke: #2166ac;
  background: #2166ac;
  border-color: #2166ac;
}

/*binary exposure*/
.category-hex92c5de{
  fill: #92c5de;
  stroke: #92c5de;
  background: #92c5de;
  border-color: #92c5de;
}
.category-hexf4a582{
  fill: #f4a582;
  stroke: #f4a582;
  background: #f4a582;
  border-color: #f4a582;
}

/* habitat_role */
.category-hexd3d3d3{
  fill: none;
  stroke: #d3d3d3;
  background: none;
  border-color: #d3d3d3;
}
.category-hex6A51A3{
  fill: #6A51A3;
  stroke: #6A51A3;
  background: #6A51A3;
  border-color: #6A51A3;
}
.category-hex9E9AC8{
  fill: #9E9AC8;
  stroke: #9E9AC8;
  background: #9E9AC8;
  border-color: #9E9AC8;
}
.category-hexCBC9E2{
  fill: #CBC9E2;
  stroke: #CBC9E2;
  background: #CBC9E2;
  border-color: #CBC9E2;
}
.category-hexF2F0F7{
  fill: #F2F0F7;
  stroke: #F2F0F7;
  background: #F2F0F7;
  border-color: #F2F0F7;
}

/*additional unidentified layer*/
.category-hex8c2d04{
  fill: #8c2d04;
  stroke: #8c2d04;
  background: #8c2d04;
  border-color: #8c2d04;
}


/*marker icons*/
/*.icon-1{
  background-image: url('http://www.iconsdb.com/icons/download/black/running-16.png');
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.icon-2{
  background-image: url('http://www.iconsdb.com/icons/download/black/bicycle-16.png');
  background-repeat: no-repeat;
  background-position: 1px -2px;
}
.icon-3{
  background-image: url('http://www.iconsdb.com/icons/download/black/motorcycle-16.png');
  background-repeat: no-repeat;
  background-position: 1px -2px;
}
.icon-4{
  background-image: url('http://www.iconsdb.com/icons/download/black/car-16.png');
  background-repeat: no-repeat;
  background-position: 1px -2px;
}*/

/*Popup*/
/*.map-popup span.heading {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.map-popup span.attribute {
  display: block;
}
.map-popup span.label {
  font-weight: bold;
}*/

.map-popup table.poptable{
    width: 10%;
    border: 0;
    font-size:1em;
    padding: 4px;
}
.map-popup table tbody td{
    border-bottom: 1px solid #E1EEF4;
}

/*Legend*/
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.info {
    padding: 8px 10px;
    /*font: 14px Arial;*/
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}