/*#map {
  width:750px;
  height:550px;
}*/
#maptab {
  height: 90%;
}

#map {
  width:100%;
  height:100%;
}
.fill { 
    min-height: 100%;
    height: 100%;
}
#chart_div {
  width:500px;
  height:400px;
}

.col-md-5.no-float {
    float: none; /* thanks baxabbit */
}

body {
    padding-top:0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

/*#legend {
  position: absolute;
  top: 3px;
  left: 780px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
  font-size: 1em;
  font-family: sans-serif;
  width: 165px;
  background: rgba(255,255,255,0.6);
}
.legendheading {
  position: relative;
  height: 25px;
  padding: 5px 2px 0px 2px;
  font-size: larger;
  font-weight: bold;
}
.legenditem {
  padding: 2px;
  margin-bottom: 2px;
}*/



.leaflet-popup .leaflet-popup-close-button {
  opacity:0;
}
.leaflet-popup {
  width:45px;
}

.info {
    padding: 8px 10px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
/*.info h4 {
    margin: 0 0 3px;
    color: #777;
}*/
#mapinfo .table-condensed{
  font-size:12;
}
#mapinfo hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

.disabled{
    pointer-events: none;
}

/*from rCharts html output*/
/*.rChart {
      display: block
      margin: auto auto;
      width: 100%;
      height: 400px;
    }*/
.bs-docs-example:after {
      content: "";
      background: transparent;
      border: none;
}